# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Temporary and Cache Files
*.tmp
*.bak
*.swp
*~
__pycache__/
*.pyc

# IDE / Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
